.topheader {
  position: static;
  background-color: #fcf8fc;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo img {
  height: 100px;
  width: auto;
  margin-right: -50px;
  margin-bottom: -15px;
  margin-top: -20px;
}

.logo h1 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #482983;
  margin: 0;
  margin-left: -20px;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu-horizontal li a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-family: "Poppins", sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #000000;


}

.btn-sos {
  background-color: #f0536b;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 100px;
}

.btn-cuenta {
  background-color: #482983;
  border-radius: 20px;
  text-decoration: none;
  margin-right: 50px;
  white-space: nowrap;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #FFFFFF;
}

.btn-cuenta img{
  width: 27px;
  height: auto;
  position: relative;
  right: 6px;
  top: 6px;
}

.menu-horizontal li a:hover {
  color: white;
  background-color: black;
}

/*Seccion nosotros*/
.seccion-nosotros {
    background-image: url(../img/fondo-hablar.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding-top: 1rem;
    position: relative;
}

.seccion-nosotros h2 {
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;
    padding-left: 5rem;
}

.nosotros-contenido {
    display: flex;
    flex-direction: row;
}

.nosotros-texto {
    color: #ffffff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: justify;
    padding-left: 5rem;
}

.nosotros-bloques {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin-left: 15rem;
}

.nosotros-bloque1 {
    background-color: #482983;
    color: #ffffff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;

    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.nosotros-bloque2 {
    background-color: #482983;
    color: #ffffff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;

    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}



/*Footer*/
.footer {
  background-color: #482983;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px;
  font-family: "Poppins", sans-serif;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-redes a {
  margin-left: 16px;
  display: inline-block;
}

.footer-redes img {
  width: 18px;
  height: 18px;
}
