/*seccion motivacional*/

.texto-motivacional-contenido {
  background-image: url(img/fondo-hablar.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.logo{
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  padding-top: 1rem;
}

.logo-imagen img{
  height: 4rem;
  width: auto;
}

.logo-texto p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;

  color: #FFFFFF;

  position: relative;
  left: 1rem;
  bottom: 2rem;
}

.mensaje {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
}

.mensaje p{

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;
  text-align: center;

  color: #FFFFFF;

}


/*Nosotros*/

.nosotros-contenido {
  background-color: #331f59;
  padding-top: 1rem;
}

.nosotros-contenido h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #FFFFFF;

  text-align: center;
}

.nosotros-contenido p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  color: #FFFFFF;
}

.boton-plataforma{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.boton-plataforma a{
  border-radius: 2rem;
  color: white;
  background-color: #F0536B;
  text-decoration: none;


  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

/*Servicios*/
.servicios {
  background-color: #F2EAF4;
}

.servicios-contenido h2{
  color: #482983;
  margin: 0;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  font-size: 40px;

  font-family: 'Poppins';
  font-style: normal;
  font-size: 48px;


}

.servicios-brindados {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 15rem;


  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #331F59;

}

.servicio-apoyo img{
  height: 9rem;
}
.servicio-apoyo p {
  margin: 0;
}


.servicio-foro img{
  height: 9rem;
}
.servicio-foro p {
  margin: 0;
}


/*Testimonios*/
.testimonios {
  background-color: #F2EAF4;
}

.testimonios-contenido h2{
  color: #482983;
  margin: 0;
  padding-top: 3rem;
  padding-left: 1.5rem;

  font-family: 'Poppins';
  font-style: normal;
  font-size: 48px;
}

.testimonios-textos {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-top: 1rem;
  padding-bottom: 3rem;
}

.testimonio1 {
  width: 22%;
  background-color: #331F59;
  padding-bottom: 3rem;
}

.testimonio1 p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #FFFFFF;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  text-align: left;
}

.testimonio1 h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;

  color: #FFFFFF;
  text-align: center;
}


.testimonio2 {
  width: 22%;
  background-color: #331F59;
}

.testimonio2 p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #FFFFFF;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  text-align: left;
}

.testimonio2 h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;

  color: #FFFFFF;
  text-align: center;
}

.testimonio3 {
  width: 22%;
  background-color: #331F59;
}

.testimonio3 p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #FFFFFF;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  text-align: left;
}

.testimonio3 h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;

  color: #FFFFFF;
  text-align: center;
}

/*Seccion FAQ*/
.faq {
  font-family: sans-serif;
  background-color: #F2EAF4;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
}

.faq h2 {
  margin: 0;

  color: #482983;
  padding-top: 3rem;
  padding-left: 1.5rem;

  font-family: 'Poppins';
  font-style: normal;
  font-size: 48px;

}

.faq-item {
  padding-top: 2rem;
}

.faq-question {
  width: 90%;
  height: 4rem;
  border: none;
  background-color: #331F59;
  color: #FFFFFF;
  padding-left: 1.5rem;
  
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
}

.faq-answer {
  display: none;
  padding: 10px 0;
  color: #444;
}

.faq-answer p {
  margin: 0;
}

/* Responsive */
@media (max-width: 768px) {

  .texto-motivacional-contenido {
    background-image: url(img/fondo-hablar.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
  }

  .mensaje {
    padding: 0;
    padding-bottom: 1rem;
  }

  .mensaje p{
    font-size: 30px;

  }

  .servicios-brindados{
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .servicio-apoyo {
    justify-content: center;
  }

  .testimonios-textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .testimonio1 {
    width: 80%;
  }
  .testimonio2 {
    width: 80%;
  }
  .testimonio3 {
    width: 80%;
  }

  .faq-answer {
    width: 80%;
  }
}


/*FOOTER*/
.footer {
  background-color: #482983;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px;
  font-family: "Poppins", sans-serif;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-redes a {
  margin-left: 16px;
  display: inline-block;
}

.footer-redes img {
  width: 18px;
  height: 18px;
}
