/*seccion motivacional*/

.texto-motivacional-contenido {
  background-image: url(img/fondo-hablar.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.logo{
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  padding-top: 1rem;
}

.logo-imagen img{
  height: 4rem;
  width: auto;
}

.logo-texto p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;

  color: #FFFFFF;

  position: relative;
  left: 1rem;
  bottom: 2rem;
}

.mensaje p{

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;
  text-align: center;

  color: #FFFFFF;

  padding-top: 8rem;

}

.nosotros-contenido {
  background-color: #331f59;
  padding-top: 1rem;
}

.nosotros-contenido h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #FFFFFF;

  text-align: center;
}

.nosotros-contenido p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  color: #FFFFFF;
}

.boton-plataforma{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.boton-plataforma a{
  border-radius: 2rem;
  color: white;
  background-color: #F0536B;
  text-decoration: none;


  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

/*FOOTER*/
.footer {
  background-color: #482983;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px;
  font-family: "Poppins", sans-serif;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-redes a {
  margin-left: 16px;
  display: inline-block;
}

.footer-redes img {
  width: 18px;
  height: 18px;
}
