.topheader {
  position: static;
  background-color: #fcf8fc;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo img {
  height: 100px;
  width: auto;
  margin-right: -50px;
  margin-bottom: -15px;
  margin-top: -20px;
}

.logo h1 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #482983;
  margin: 0;
  margin-left: -20px;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu-horizontal li a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-family: "Poppins", sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

}

.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 2rem;
}

.menu-toggle2 {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-horizontal li a.btn-cuenta {
  background-color: #482983;
  border-radius: 20px;
  text-decoration: none;
  margin-right: 50px;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #FFFFFF;
}

.btn-cuenta img{
  width: 27px;
  height: auto;
  position: relative;
  right: 6px;
  top: 6px;
}

.menu-horizontal li a:hover {
  color: white;
  background-color: black;
}


/*PANTALLA PERFIL*/

.planes {
  background-color: #ebebeb;
}

.icono-premium{
  display: none;
}

.planes-texto1{
  padding-left: 1rem;
  padding-top: 0.5rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;

  color: #482983;
}

.planes-texto2{

  padding-left: 1rem;
  padding-top: 0.5rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #909090;

  position: relative;
  bottom: 1.5rem;

}

.perfil{
  display: flex;
  gap: 10px;
}
.opc-perfil{
  background-color: rgb(255, 255, 255);
  font-family: 'Poppins',sans-serif;
  height: 100vh;
  padding-top: 2rem;
}

.opc-perfil ul{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.opc-perfil a{
  text-decoration: none;
}

.opcion{
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  margin-bottom: -20px;
}

.opc-img img{
  height: 21px;
  width: 21px;
}

.opc-texto h5{
  margin-left: 15px;
  color: #482983;
  margin: 0;
  line-height: 1;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  padding-left: 1rem;
  padding-bottom: 0.3rem;

}

.div-inf{
  background-color: #482983;
  flex: 1;
  font-family: 'Poppins',sans-serif;
  padding-left: 3rem;
  color: white;
}

/*Informacion personal*/

h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.inf-personal p{

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.inf-card{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  background-color: white;
  width: 97%;
}

.inf-detalle{
  display: flex;
  flex-direction: column;
}

.inf-contenido{
  display: flex;
}

.inf-contenido2{
  display: flex;
}

.inf-imagenPerfil{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
}

.inf-imagenPerfil img {
  width: 5rem;
}

.inf-detalle1{
  color: #000000;
  font-weight: bold;
  margin-left: 15px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  padding-left: 1rem;
  padding-top: 0.5rem;

  position: relative;
  top: 0.3rem;
}

.inf-detalle1 p {
  line-height: 0;
}

.inf-detalle2{
  color:#909090;
  margin-left: 15px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-left: 1rem;
}

.inf-detalle2 p{
  line-height: 1.5;
}

.boton-morado {
  white-space: nowrap;
  background-color: #482983;
  color: white;
  border-radius: 20px;
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 10px;
  text-decoration: none;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  position: relative;
  right: 3rem;
}

.inf-detalle3 {
  padding-left: 2rem;
}

.inf-detalle3 p{
  color: #f0536b;
}

.footer-favoritos p {
  padding-top: 1rem;
  color: #000000;
  font-weight: bold;
}

.citas-contenido{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  background-color: white;
  width: 97%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.inf-texto{
  display: flex;
  flex-direction: column;
}

.boton-historial {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
}

@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

   .menu-horizontal {
    display: none; /* Ocultar menú horizontal por defecto */
    flex-direction: column; /* Mostrarlo en vertical al activarse */
    gap: 1rem;
    align-items: end;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 4.5rem; /* Debajo del menú fijo */
    left: 0;
    z-index: 9999;
  }

  .menu-horizontal.active {
    display: flex;
    padding-bottom: 1rem;
    background-color: #fcf8fc;
  }

  .menu-horizontal li a,
  .menu-horizontal li a.btn-cuenta {
    background: none;       /* eliminar colores de botón */
    color: #000000;
    padding: 0;
    border-radius: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    margin: 0;
    padding-right: 2rem;
  }

  .menu-horizontal li a.btn-cuenta:hover {
    color: white;   
    background-color: black;
  }

  .menu-horizontal li a.btn-sos:hover {
    color: white;   
    background-color: black;
  }

  .menu-horizontal li a.btn-cuenta img {
    margin: 0;
    padding: 0;
    display: none;
  }

  .opc-texto{
    display: none;
  }

  .menu-toggle2{
    display: block;
  }

  .opc-texto.active {
    display: block;
  }

  .div-inf{
    padding-left: 1.5rem;
  }

  .plan-premium{
    display: none;
  }

  .icono-premium{
    display: block;
  }

  .icono-premium img{
    width: 1.5rem;
    height: 1.5rem;
  }

  .inf-card{
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  .inf-contenido{
    flex-direction: column;
  }
  .div-btn-editar{
    padding-left: 7rem;
  }

  .citas-contenido{
    flex-direction: column;
  }

  .boton-historial{
    padding-left: 5rem;
  }
}

/*Footer*/
.footer {
  background-color: #482983;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px;
  font-family: "Poppins", sans-serif;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-redes a {
  margin-left: 16px;
  display: inline-block;
}

.footer-redes img {
  width: 18px;
  height: 18px;
}
