.topheader {
  position: static;
  background-color: #fcf8fc;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo img {
  height: 100px;
  width: auto;
  margin-right: -50px;
  margin-bottom: -15px;
  margin-top: -20px;
}

.logo h1 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #482983;
  margin: 0;
  margin-left: -20px;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu-horizontal li a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-family: "Poppins", sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #000000;


}

.btn-sos {
  background-color: #f0536b;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 100px;
}

.btn-cuenta {
  background-color: #482983;
  border-radius: 20px;
  text-decoration: none;
  margin-right: 50px;
  white-space: nowrap;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #FFFFFF;
}

.btn-cuenta img{
  width: 27px;
  height: auto;
  position: relative;
  right: 6px;
  top: 6px;
}

.menu-horizontal li a:hover {
  color: white;
  background-color: black;
}



/*PANTALLA FORO ANONIMO*/
.seccion-foro{
  background-color: #482983;
  margin: 0;
}

.div-foro{
  font-family: 'Poppins',sans-serif;
  padding-left: 2rem;
}

.div-foro  h1{
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  color: white;
  padding: 20px;
  margin-bottom: -40px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;

}

.div-foro p{
  margin: 6px 0 24px;
  color: white;
  padding: 20px;
  margin-bottom: -5px;
  margin-top: 1rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

}

.filtros-foro {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.btn-filtro {
  border-radius: 999px;
  padding: 10px 18px;
  border: none;
  background: #DDCDE9;
  color: #68459F;
  cursor: pointer;
  margin-left: 20px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.div-busqueda {
  margin-left: auto;
  display: flex;
  align-items: center;
  background: #DDCDE9;
  border-radius: 999px;
  overflow: hidden;
  margin-right: 19px;
}

.div-busqueda input {
  border: none;
  padding: 10px 14px;
  padding-left: 2rem;
  font-size: 13px;
  background: #DDCDE9;
  color: #68459F;
  border-radius: 10px;
  width: 180px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

}

.div-busqueda input::placeholder {
  color: #68459F;
}

.div-busqueda input:focus {
  outline: none;
}

.btn-busqueda {
  border: none;
  width: 40px;
  height: 34px;
  cursor: pointer;
  background-color: #2E1B53;
  border-radius: 10px;
  margin-left: -40px;
  color: white;
}

/* CAJA MENSAJE */

.contenedor-mensaje {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 16px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 2rem;
}

.contenedor-mensaje input{
  flex: 1;
  border-radius: 10px;
  border: 1px solid #482983;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: white;
  color: #5d4e88;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

}

.contenedor-mensaje input::placeholder {
  color: #DDCDE9;
}

.contenedor-mensaje input:focus {
  outline: none;
}

.btn-publicar {
  background: #482983;
  color: white;
  border: none;
  padding: 15px 26px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 8px;
}

/* TABS */

.tabs {
  display: flex;
  gap: 16px;
  margin-bottom: 18px;
  color: #68459F;
  margin-left: 20px;
}

.tab {
  border-radius: 999px;
  border: none;
  background: #DDCDE9;
  color: var(--white);
  padding: 8px 20px;
  cursor: pointer;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.layout {
  display: grid;
  grid-template-columns: minmax(0, 2.2fr) minmax(260px, 1fr);
  gap: 26px;
  margin-top: 10px;
  padding-left: 2rem;
}

/* POSTS */

.card-pub {
  display: grid;
  grid-template-columns: 88px minmax(0, 1fr);
  gap: 12px;
  background: white;
  padding: 16px 18px;
  border-radius: 10px;
  margin-bottom: 14px;
  margin-left: 20px;
  font-family: 'Poppins',sans-serif;
  height: 10rem;
}

.avatar-pub {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circulo-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ece6ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circulo-avatar img {
  height: 6rem;
  padding-left: 2rem;
}

.contenido-pub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2rem;
}

.header-pub {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.header-pub h4{
  color: #68459F;
  margin: 0;
  line-height: 1;
  position: relative;
  top: 1rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

}

.header-pub p{
  font-size: 13px;
  color: var(--gray-text);
  margin: 4px 0 12px;
  line-height: 1.5;
}

.btn-acciones-pub {
  display: flex;
  gap: 14px;
  font-size: 12px;
}

.link {
  background: none;
  border: none;
  padding: 0;
  color: #68459F;
  cursor: pointer;
}

/* NORMAS */

.normas {
  background-color: #EFE4F7;
  border-radius: 10px;
  padding: 18px 20px;
  color: #4a2f82;
  font-family: 'Poppins',sans-serif;
  margin-right: 20px;
}

.normas h2{
  margin: 0 0 10px;
  font-size: 18px;
}

.rules {
  padding-left: 18px;
  margin: 0;
  font-size: 13px;
  color: #6b5ea0;
}

.reglas li + li {
  margin-top: 6px;
}


/*Footer*/
.footer {
  background-color: #482983;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px;
  font-family: "Poppins", sans-serif;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-redes a {
  margin-left: 16px;
  display: inline-block;
}

.footer-redes img {
  width: 18px;
  height: 18px;
}
