.topheader {
  position: static;
  background-color: #fcf8fc;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

.contenedor-topheader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; /* evita que se estire demasiado */
  margin: 0 auto; /* centra el contenido horizontalmente */
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo img {
  height: 100px;
  width: auto;
  margin-right: 5px;
}

.logo h1 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #482983;
  margin: 0;
  margin-left:-70px;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.menu-horizontal li a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.btn-sos {
  background-color: #f0536b;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  text-decoration: none;
}

.btn-ingresar {
  background-color: #482983;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  text-decoration: none;
}

.btn-ingresar::after {
  content: "›";
  margin-left: 8px;
  font-size: 16px;
}

.menu-horizontal li a:hover {
  color: white;
  background-color: black;
}

/*PANTALLA REGISTRO*/
.registro {
  background-image: url("img/fondo-hablar.png");
  background-size: cover;
  background-position: center;
  padding: 80px 40px;
  min-height: 100vh;
  align-items: center;
}

.nombre{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins',sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 100px;
}

.cards{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 500px;
  height: 180px;
  padding: 20px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.card-icono {
  border-radius: 12px;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.card-icono img {
  width: 80px;
  height: 80px;
}

.card-text h3 {
  margin: 0 0 6px;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.card-text p {
  margin: 0;
  font-size: 12px;
  color: #555555;
}

.form-imagen{
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form{
  width: 300px;
  background-color: white;
  padding: 20px;
  height: 420px;
  border-radius: 10px;
}

.titulo{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  font-family: 'Poppins',sans-serif;
}

.titulo input{
  border-radius: 10px;
  border: 1px solid #482983;
  padding: 8px;
}

.terminos{
  padding: 20px 0px;
  font-size: 10px;
}

.btn-crearCuenta{
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  background-color: #482983;
  color: white;
  margin-top: 25px;
  border-radius: 10px;
}

/*FOOTER*/
.footer {
  background-color: #482983;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px;
  font-family: "Poppins", sans-serif;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-redes a {
  margin-left: 16px;
  display: inline-block;
}

.footer-redes img {
  width: 18px;
  height: 18px;
}
