.topheader {
  position: static;
  background-color: #fcf8fc;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo img {
  height: 100px;
  width: auto;
  margin-right: -50px;
  margin-bottom: -15px;
  margin-top: -20px;
}

.logo h1 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #482983;
  margin: 0;
  margin-left: -20px;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu-horizontal li a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-family: "Poppins", sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}

.btn-sos {
  background-color: #f0536b;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 100px;
}

.btn-cuenta {
  background-color: #482983;
  border-radius: 20px;
  text-decoration: none;
  margin-right: 50px;
  white-space: nowrap;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #FFFFFF;
}

.btn-cuenta img{
  width: 27px;
  height: auto;
  position: relative;
  right: 6px;
  top: 6px;
}

.menu-horizontal li a:hover {
  color: white;
  background-color: black;
}

/*PANTALLA HABLAR ESPECIALISTA*/

.seccion-hablar-esp{
  background-color: #482983;
  font-family: 'Poppins',sans-serif;
  background-size: cover;
  background-position: center;
  padding: 80px 40px;
}

.div-hablar-esp{
  color: white;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;

  position: relative;
  bottom: 3rem;

  padding-left: 1rem;
}

.cards{
  display: flex;
  align-items: center;
  gap: 7rem;
  padding-left: 5rem;
}

.card{
  background-color: #FCF8FC;
  border-radius: 10px;
  padding-left: 2rem;
  width: 19rem;
  height: 30rem;
}

.card-videollamada{
  display: flex;
  flex-direction: column;
  background-color: #FCF8FC;
  border-radius: 10px;
  padding-left: 2rem;
  width: 19rem;
  height: 30rem;
  gap: 2.9rem;
}

.card-header{
  justify-content: left;
  display: flex;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;

  color: #000000;


}


.card-detalle p{
  margin-bottom: -14px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}

.btn-chatear-esp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
  padding-top: 5.7rem;
}

.btn-chatear-esp a{
  background-color: #EFE4F7;
  border-radius: 10px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;

  color: #000000;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 6rem;
  padding-right: 6rem;
}


.btn-chatear-esp-videollamada {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
  padding-top: 3rem;
}

.btn-chatear-esp-videollamada a {
  background-color: #EFE4F7;
  border-radius: 10px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;

  color: #000000;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

/*Footer*/
.footer {
  background-color: #482983;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px;
  font-family: "Poppins", sans-serif;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-redes a {
  margin-left: 16px;
  display: inline-block;
}

.footer-redes img {
  width: 18px;
  height: 18px;
}
