.topheader {
  position: static;
  background-color: #fcf8fc;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo img {
  height: 100px;
  width: auto;
  margin-right: -50px;
  margin-bottom: -15px;
  margin-top: -20px;
}

.logo h1 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #482983;
  margin: 0;
  margin-left: -20px;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu-horizontal li a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-family: "Poppins", sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #000000;


}

.btn-sos {
  background-color: #f0536b;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 100px;
}

.btn-cuenta {
  background-color: #482983;
  border-radius: 20px;
  text-decoration: none;
  margin-right: 50px;
  white-space: nowrap;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #FFFFFF;
}

.btn-cuenta img{
  width: 27px;
  height: auto;
  position: relative;
  right: 6px;
  top: 6px;
}

.menu-horizontal li a:hover {
  color: white;
  background-color: black;
}


/*PANTALLA PERFIL*/
.perfil{
  display: flex;
  gap: 10px;
}
.opc-perfil{
  background-color: rgb(255, 255, 255);
  font-family: 'Poppins',sans-serif;
  padding: 20px;
  height: 100vh;
  padding-top: 2rem;
}

.opc-perfil ul{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.opc-perfil a{
  text-decoration: none;
}

.opcion{
  display: flex;
  align-items: center;
  margin-left:20px;
  margin-bottom: -20px;
}

.opc-img img{
  height: 21px;
  width: 21px;
}

.opc-texto h5{
  margin-left: 15px;
  color: #482983;
  margin: 0;
  line-height: 1;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  padding-left: 1rem;
  padding-bottom: 0.3rem;

}

.div-inf{
  background-color: #482983;
  flex: 1;
  font-family: 'Poppins',sans-serif;
  padding-left: 3rem;
  color: white;
}

/*Informacion personal*/


h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  padding-bottom: 2rem;
  padding-top: 2rem;
}


.inf-contenido{
  display: flex;
}

.citas-contenido{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: white;
  width: 97%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.inf-detalle2{
  color:#909090;
  margin-left: 15px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-left: 1rem;
}

.inf-detalle2 p{
  line-height: 2;
}

.boton-chat {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
}

.boton-morado {
  white-space: nowrap;
  background-color: #482983;
  color: white;
  border-radius: 20px;
  border: none;
  padding-left: 3rem;
  padding-right: 5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-right: 10px;
  text-decoration: none;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  position: relative;
  right: 3rem;
}

/*historial-chat*/

.chat-contenido{
  gap: 10px;
  background-color: white;
  width: 97%;
}

.bloque-chat1 {
    display: flex;
    justify-content: end;
    margin-right: 1rem;
}

.bloque-chat1 p{
    color: #000000;
    border: 1px solid #482983;
    border-color: #482983;
    border-radius: 1rem;
    padding-right: 3rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

}

.bloque-chat2 {
    margin-left: 3rem;
}


.bloque-chat2 p{
    display: inline-block;
    background-color: #EFE4F7;
    color: #000000;
    padding-right: 8rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

}

.boton {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.boton-eliminar {
  white-space: nowrap;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 20px;
  border: none;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

}

/*Footer*/
.footer {
  background-color: #482983;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px;
  font-family: "Poppins", sans-serif;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-redes a {
  margin-left: 16px;
  display: inline-block;
}

.footer-redes img {
  width: 18px;
  height: 18px;
}
